* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0%;
    padding: 0px;
}

.page-actions-cont {
    height: 2.5rem;
    /* background-color: #26b169; */
    background-color: rgb(3, 87, 3);
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-end; */
    padding-left: 1rem;
    /* color: lightgrey; */
}

.page-action {
    margin: 0.5rem;
    color: #f1f2f6;
    width: 9rem;
    height: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-action:hover{
    cursor: pointer;
}
.auth{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.auth>*{
    margin-right: 2rem;
}
.selected{
    /* background-color: #ecf0f1;
    color: rgb(3, 87, 3); */
    background-image: linear-gradient(to top, white 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.2s ease-in-out; /** I've changed the time for demo purposes **/
    color: white;

}
.selected:hover{
  background-position: bottom;
  color: rgb(3, 87, 3);
}
/* button */
.selected-default{
  background-color: white;
  color: rgb(3, 87, 3);
}
.space{
    margin-left: 0.3rem;
   
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    min-width: 20rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 0.5rem;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

/* --------------------------------------------- -----------------*/
/* -----actions on cells :-cut copy paste format ----------------*/

.cellprop-actions-cont {
    height: 3rem;
    display: flex;
    background-color: #ecf0f1;
    align-items: center;
    padding-left: 1.5rem;
}

.cellprop-actions-cont>* {
    display: inline-block;
    margin-right: 1rem;
}
.cellprop-actions-cont> *:hover{

    cursor: pointer;
}
.cellprop-actions-cont>select {
    border: 1px solid green;
    border-radius: 2px;
    outline: none;
}
.color-prop{
    position: relative;
}
.color-prop>input{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
/* styling on icons */
.material-icons{
    border-radius: 3px ;
}

/* ----------------------------------------------------------- */
/* -------------------grid of excel-------------------------- */

.grid-cont {
    height: calc( 100vh - 2.5rem - 2rem - 3rem - 3rem);
    position: relative;
    overflow: scroll;
}
.top-left-dummy-box{
  height: 2rem;
  width: 2rem;
  background-color: #747d8c;
  position: fixed;
  z-index: 5;

}
.address-col-cont{

  position: sticky;
  top: 2rem;
  left: 0;
}
.address-row-cont{

  display: flex;
  position: sticky;
  top: 0;
  left: 2rem;

}
.cells-cont{
  position: absolute;
  top: 0;
  /* background-color: red; */
  left: 2rem;

}

.address-col{
    height: 2rem;
    width: 2rem;
    text-align: center;
    border: 1px solid grey;
    background-color: #ecf0f1;
    border-top:none ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address-row{
    height: 2rem;
    width: 8rem;
    text-align: center;
    border: 1px solid grey;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowProp{
    display: flex;

}
.cell{
    width: 8rem;
    height: 2rem;
    border:1px solid grey ;
    border-top: none;
    border-right: none;
    outline: none;
}

/* ----------------------------------------------------------- */
/* ----------------formula container ------------------------- */

.formula-actions-cont {
    height: 2rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.formula-icon {
    width: 1.2rem;
}

.formula-bar {
    width: calc(100vw - 5rem - 0.7rem - 0.7rem);
}

.address-bar {
    width: 5rem;
    text-align: center;
}

.formula-actions-cont>* {
    display: inline-block;
    margin: 1rem;
    height: 70%;
}

.formula-actions-cont>input {
    border: none;
    outline: none;
}


/* ---------------------------------------------- */
/* ----------sheet bottom Container -------------*/

.sheet-actions-cont {
    height: 3rem;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
    background-color: #ecf0f1;
}

.sheets-folder-cont {
    /* background-color: red; */
    width: 100vw;
    height: 70%;
    display: inline-block;
    display: flex;
    align-items: center;
    overflow: auto;
}

.sheets-actions-cont>* {
    display: inline-block;
}

.sheet-add-icon {
    width: 2vw;

}
.sheet-add-icon:hover{
    cursor: pointer;
}
.sheet-folder {
    height: 80%;
    text-decoration: underline;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration-thickness: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sheet-content{
    width: 5rem;
}
.sheet-content:hover{
    cursor: pointer;
}
