{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>doc</title>
  <link rel="stylesheet" href="{% static 'CSS/auth.css' %}">
</head>
<body>
  <div class="auth">
    <div class="auth-container">
      <div class="auth-logo">
        <!-- <img src="{% static 'images/sheet.png' %}" /> -->
      </div>
      <form action="" method="post" class="auth-form">{% csrf_token %}
        <h1>Sign in</h1>
        <div class="auth-input ">
          <label for="email">
            Username
          </label>
          <input type="username" name="username" id="name" />
          <!-- <p class="auth-error">E-Mail is a required field.</p> -->
        </div>
        <div class="auth-input">
          <label for="password">
            Password
          </label>
          <input type="password" name="password" id="password" />
        </div>
        <a href="#" class="auth-reset">Forgot Password?</a>
        <button type="submit" name="submit" class="auth-btn">Sign in</button>
      </form>
      <div class="auth-bottom">
        Don't have an account yet? <a href="register">Create Now</a>
      </div>
    </div>
  </div>
</body>
</html>