{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'CSS/dashboardStyle.css' %}">
</head>

<body>

    <header class="page-header">
        <div class="left-logo">
            <img src="{% static 'images/sheet.png' %}" alt="" class="logo">
            <h2>SPREADSHEETER</h2>
        </div>

        <div class="search" type="⌨">
            <div class="input-search">
                <span class="material-icons space">
                    search
                </span>
                <div class="input" contenteditable="true" spellcheck="false"></div>
            </div>
            <div class="searched-item">
                
            </div>
        </div>
        <div class="user">
            <div class="dropdown user-photo">
            <img src="{% static 'images/photos.jpg' %}" alt="" class="">
                <div class=" dropbtn"></div>
                    <div class="dropdown-content dropdown-content">
                        <a href="/account/logout">LOGOUT </a>

                    </div>
            </div>
        </div>
    </header>
    <section class="templates-section">
        <div class="temp-container">
            <div class="new-doc">
                Start a new Document
            </div>
            <div class="doc-files">
                <div class="cover">
                    <div class="doc-card-view" id="btn" data-toggle="modal" data-target="#exampleModalCenter">

                        <img src="{% static 'images/blank.png' %}" alt="">

                    </div>
                    <p>New File</p>
                </div>
                <div class="cover">
                    <div class="doc-card-view">
                        <img src="{% static 'images/res.png' %}" alt="">
                    </div>
                    <p>Resume</p>
                </div>

                <div class="cover">
                    <div class="doc-card-view">
                        <img src="{% static 'images/letter.png' %}" alt="">
                    </div>
                    <p>Letter</p>
                </div>

                <div class="cover">
                    <div class="doc-card-view">
                        <img src="{% static 'images/resume.png' %}" alt="">
                    </div>
                    <p>Resume</p>
                </div>

                <div class="cover">
                    <div class="doc-card-view">
                        <img src="{% static 'images/project.png' %}" alt="">
                    </div>
                    <p>Project</p>
                </div>
            </div>
        </div>
    </section>

    <!-- =============your document section ==========-->
    <div class="recent-doc">
        <div class="container">
            <div class="new-doc">
                <h2 style="text-align: center;">Your Docuents 📝</h2>
            </div>
            <div class="list-view">

                <div class="list-header">
                    <h5 class="title">RECENT FILES</h5>
                    <h5 class="saved">INSERT</h5>
                </div>

                {% for record in queryset %}

                <div class="list-item">
                    <img src="{% static 'images/sheet.png' %}" alt="" >


                    <p><a href="/{{record.pk}}/" class="link">{{record.File_title}}</a></p>

                    <p class="primary-Key" style="display:none">{{record.pk}}</p>
                    <div class="options">
                        <span class="material-icons icon download">download </span>
                        <span class="material-icons icon delete">delete </span>
                    </div>
                </div>
                <hr>

                {% endfor %}

            </div>

        </div>

    </div>




    <!-- Modal -->
    <form action="/" method="post">{% csrf_token %}
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <form action="/file" method="post">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">File Name:</label>
                                    <input type="text" class="form-control" name="new-file-name" id="recipient-name">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">File Type:</label>
                                    <div class="input-group mb-3">

                                        <select class="custom-select" id="inputGroupSelect03">
                                            <option value="newfile">New File</option>

                                        </select>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        <button type="submit" class="btn btn-primary">
                            open</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<!-- <script src="{% static 'JS/openSave.js' %}"></script> -->


<script type="text/javascript" src="{% static 'JS/DashBoard-Design.js' %}">

</script>

</html>