{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPREADSHEETER</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'CSS/Indexstyle.css' %}">
</head>

<body>
    <div class="page-actions-cont">
        <div class="page-action selected home" onclick="window.location='/account/user/dashboard/'">
            <span class="material-icons space">
                home
            </span>
        </div>
       
        <div class="page-action selected dropdown file selected-default">File
            {% if user.is_authenticated %}
            <div class="dropdown-content">
                <a  class="change" data-toggle="modal" data-target="#exampleModalCenter">New File</a>
                <a class="change" onclick="window.location='/account/user/dashboard/'">Open</a>
                <a class="change" id="save_btn">Save</a>
                <!--no pop up menu for save/----- -->
                <a  class="change save-as" data-toggle="modal" data-target="#exampleModalCenter2">Save as</a>

            </div>
        {% else %}
                                {% endif %}
                                </div>
        <!-- Model for New File -->
        <form action="/" method="post" >{% csrf_token %}
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                        <div class="modal-body">
                            <div class="modal-body">
                                
                                <form action="/file" method="post">
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">File Name:</label>
                                        <input type="text" class="form-control" name="new-file-name" id="recipient-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">File Type:</label>
                                        <div class="input-group mb-3">
    
                                            <select class="custom-select" id="inputGroupSelect03">
                                                <option value="newfile">New File</option>
    
                                            </select>
                                        </div>
    
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    
                            <button type="submit" class="btn btn-primary">
                                open</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Model for save as feature -->
        <form method="post" >{% csrf_token %}
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body">
                                <form action="/file" method="post">
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">File Name:</label>
                                        <input type="text" class="form-control saveas-name"  id="recipient-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">File Type:</label>
                                        <div class="input-group mb-3">
    
                                            <select class="custom-select" id="inputGroupSelect03">
                                                <option value="newfile">New File</option>
    
                                            </select>
                                        </div>
    
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    
                            <button type="submit" class="btn btn-secondary sub" data-dismiss="modal">
                                open</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
    



        <div class="page-action selected insert open">
            <input id="jsondata" value="{{data}}" style="display:none;">
            Insert
            <span class="material-icons space">
                upload
            </span>
        </div>
        <!-- Download file -->
        <div class="page-action selected layout download">Download
            <span class="material-icons space">
                download
            </span>
        </div>
        <!-- Help -->
        <div class="page-action selected help" onclick="window.location='/help'">Help
        </div>
        <!-- file Name -->
        <div class="again" id="finame">{{NameOfFile}}</div>
        <div class="FileId" style="display:none">{{IDs}}</div>

        <!-- authentication -->
        {% if user.is_authenticated %}
        <div class="auth">
            <a href="/account/user/dashboard">
                <div class="page-action user-text selected selected-default">{{user.first_name}}</div>
            </a>
            <a href="/account/logout">
                <div class="page-action logout selected selected-default">Logout</div>
            </a>
        </div>
        {% else %}
        <div class="auth">

            <a href="account/login">
                <div class="page-action login selected">
                    Sign In
                </div>
            </a>
            <a href="account/register">
                <div class="page-action register selected selected-default">Sign up</div>
            </a>
        </div>
        {% endif %}  
    </div>
    <div class="cellprop-actions-cont">
        <span class="material-icons copy">content_copy</span>
        <span class="material-icons cut">
            content_cut
        </span>
        <span class="material-icons paste">
            content_paste
        </span>

        <select class="font-family-prop">
            <option value="monospace">monospace</option>
            <option value="arial">Arial</option>
            <option value="Times-new-roman">Times New Roman</option>
            <option value="san-serif">san-serif</option>
            <option value="fantasy">fantasy</option>
            <option value="cursive">cursive</option>
        </select>
        <select class="font-size-prop">
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="16">16</option>
            <option value="18">18</option>

        </select>
        <span class="material-icons bold">
            format_bold
        </span>
        <span class="material-icons italic">
            format_italic
        </span>
        <span class="material-icons underline">
            format_underlined
        </span>
        <span class="left material-icons alignment">
            format_align_left
        </span>
        <span class="center material-icons alignment">
            format_align_center
        </span>
        <span class="right material-icons alignment">
            format_align_right
        </span>

        <div class="color-prop">
            <span class="material-icons">
                format_color_text
            </span>
            <input type="color" class="font-color-prop">
        </div>

        <div class="color-prop">
            <span class="material-icons">
                format_color_fill
            </span>
            <input type="color" class="bg-color-prop">
        </div>
        <span class="material-icons space">
            cloud_upload
        </span>
        <span class="material-icons space">
            cloud_download
        </span>
    </div>

    <div class="formula-actions-cont">
        <input type="text" readonly class="address-bar">
        <img class="formula-icon" src="https://img.icons8.com/ios/50/000000/formula-fx.png" />
        <input type="text" placeholder="Enter value with space separated" class="formula-bar">
    </div>
    <div class="grid-cont">
        <div class="top-left-dummy-box"></div>
        <div class="address-col-cont"></div>
        <div class="cells-cont">
            <div class="address-row-cont"></div>
        </div>
    </div>
    <div class="sheet-actions-cont">
        <div class="sheet-add-icon">
            <span class="material-icons">
                post_add
            </span>
        </div>
        <div class="sheets-folder-cont">

        </div>
    </div>

</body>
<script>

</script>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<!-- Jquery -->
<script src="{% static 'JS/gridCreator.js' %}"></script>
<script src="{% static 'JS/cycleValidation.js' %}"></script>

<script src="{% static 'JS/SheetHandling.js' %}"></script>

<script src="{% static 'JS/cell-properties.js' %}"></script>

<script src="{% static 'JS/CyclicTracePath.js' %}"></script>
<script src="{% static 'JS/formula-Implement.js' %}"></script>
<script src="{% static 'JS/CopyPaste.js' %}"></script>

<script src="{% static 'JS/openSave.js' %}"></script>


<!-- BOOTSTRAP 4 CDN -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>